* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
  position: fixed;
  background-color: #fff6d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  border-bottom: 4px solid #b0652f;
  top: 0;
  left: 0;
  width: 101%;
  z-index: 999;
}



/* HERO */
.hero {
    height: 600px;
    background: url("indevs\ bak.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 15px black;
    margin-top: 0px;
    border-bottom: #b0652f 10px solid;
}
.logo-kiri {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 100px;     /* atur sendiri */
  z-index: 99;   /* supaya di atas foto */
}
.hero-right h1 {
    font-family: I;
    font-size: 120px;  /* Atur besar di sini */
    line-height: 1.1;
    text-align: center;
    color: white;
    font-weight: 900;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.8);
    margin-top: 70px;

}


.hero h1 {
    font-size: 100px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 10px 10px 20px rgba(0,0,0,0.8);
    justify-content: center;
    width: 20px;
    padding-top: 300px;
}

.hero h2 {
    font-size: 65px;
    font-weight: bold;
}

/* ABOUT */
section {
    padding: 50px 80px;
    text-align: center;
}

.about, .history {
    background: #f8f1df;
    margin-bottom: 20px;
    border-bottom: #b0652f 4px solid;
    
}

h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

p {
    line-height: 1.7;
    font-size: 17px;
    max-width: 800px;
    margin: auto;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #d9a441;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* ACTIVITIES */
.card-wrapper {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    width: 260px;
    background: white;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card h4 {
    margin-top: 10px;
}

/* GALLERY */
.gallery-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery-box img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/* CONTACT */
.contact form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.contact input, .contact textarea {
    padding: 12px;
    border-radius: 7px;
    border: 1px solid #ccc;
}

.contact button {
    padding: 12px;
    background: #d9a441;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

