/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #f4efc7;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.left-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-logo img {
    height: 85px;
}

.ukm-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}

.nav-links a {
    margin-left: 40px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
}

/* HERO BG */
.hero-bg {
    width: 100%;
    height: 300px; /* sesuai pilihan kamu */
    background-image: url("picturetogether.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* KOTAK INDEVS */
.content-box {
    position: relative;
    width: 65%;        /* sesuai pilihan kamu */
    background-color: #c2a887;
    padding: 45px;
    margin-top: -70px;  /* overlap dengan gambar */
    margin-left: 22%;   /* dari tengah ke kiri */
}

.content-box h1 {
    font-size: 44px;
    font-weight: bold;
}

.content-box p {
    font-size: 22px;
    margin-top: 8px;
}

/* FOOTER */
.footer {
    background-color: #1d1d1d;
    padding: 35px 20px;
    margin-top: 120px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
}

.footer-icons img {
    width: 65px;
}
