body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* HEADER */
header {
  background-color: #fff6d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  border-bottom: 4px solid #b0652f;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  margin-right: 200px;
  
}

.logo img {
  width: 80px;
  size: 200px;
}

.title h3 {
  font-size: 16px;
  color: #000000;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

nav a:hover {
  color: #000000;
}

/* DROPDOWN MENU */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #89561d;
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  z-index: 999;        
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hero {
    position: relative;
    height: 650px; 
    background: url('sanggar\ bak.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: #b0652f 10px solid;
    size: 50px;
    
}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,0.4); /* gelap 40% */
}

.hero h2 {
    position: relative; 
    z-index: 2;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    font-family: I;
    font-size: 100px;  /* Atur besar di sini */
    line-height: 1.1;
    text-align: center;
    color: white;
    font-weight: 900;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.8);
    margin-top: 450px;
    
}

.Galeri {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.Galeri img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Galeri img:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

section {
    margin-bottom: 60px;
    text-align: center;
}

.content {
    background: #f8f1df;
    width: 90%;
    max-width: 1400px;
    padding: 40px 60px;
    margin: 40px auto;
}

.deskripsi-klub, .daftar-kesenian {
    margin-bottom: 30px;
    text-align: center;
    font-size: 17px;
}

.content h2 {
    
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: #000000;
    font-size: 1.8em;
}

.deskripsi-klub p {
    line-height: 1.6;
    text-align: center;
    color: black

}


