body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px; 
    margin-right: 15px;
}

.logo .title {
    font-size: 1.2em;
    font-weight: bold;
    color: #8B0000; /* Warna merah marun/gelap untuk judul */
}

nav a {
    text-decoration: none;
    color: #333;
    margin-left: 25px;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #8B0000;
}

.hero {
    position: relative;
    height: 500px; 
    background: url('foto1.JPG') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); /* gelap 40% */
}

.hero h2 {
    position: relative; 
    z-index: 2;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    
}

.Galeri {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.Galeri img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Galeri img:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

section {
    margin-bottom: 60px;
}

.content {
    background-color: #EEDDCC;
    width: 90%;
    max-width: 1400px;
    padding: 40px 60px;
    margin: 40px auto;
}

.deskripsi-klub, .daftar-kesenian {
    margin-bottom: 30px;
}

.content h2 {
    border-bottom: 2px solid #8B0000;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: #000000;
    font-size: 1.8em;
}

.deskripsi-klub p {
    line-height: 1.6;
    text-align: justify;
    color: black
}


